.main{
  background: url("../image/8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
  margin: 0;

}

.main h5{
  padding: 100px 0 0 0;
  color:#000;
 font-size: 30px;
 text-align: center;
 font-style: oblique;
 font-Family: Chiller , Andalus;
}

.form{
  margin: 50px 20% 0 20%;
  background: #fff;
  opacity: 0.7;
  height: 470px;
  padding:10px;
}
